@keyframes risco {
    0%, 100% {
        border: 1px solid green;
    }

    25% {
        border: 1px solid pink;
    }

    50% {
        border: 1px solid blue;
    }

    75% {
        border: 1px solid orange;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    transition: 1s ease-in-out;
    background-color: #e9e0ec;

    p, h1, h2, h3 {
        transition: color 1s ease;
    }

    header {

        .links {

            a {
                transition: color 1s ease;
            }
        }
    }

}

.modo-dark {
    background-color: #272023;
    color: white;

    header {

        .links {

            a {
                color: white;
            }
        }
    }

}


header {
    width: 80%;
    display: flex;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;

    .icon {
        width: 5%;
        border-radius: 5px;
    }

    .links {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
        a {
            color: rgb(0, 0, 0);
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .lua-dark {
        margin: auto;
        width: 4%;
        height: 50px;
        border-radius: 50%;
    }

    .lua-dark:hover {
        cursor: pointer;
    }
}

footer {
    margin-top: 150px;
    width: 100%;

    h3 {
        text-align: center;
        margin-bottom: 5px;
    }

    #contato{
        width: 100%;
        display: flex;
        justify-content: center;

        .telefone {
            margin-right: 3px;
            width: 2%;
        }
    }
}

.risco {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    animation-name: risco;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

main {
    width: 100%;
    height: 70vh;

    h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }

        .comidas{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
            margin: auto;
            height: 80%;
            border: 1px solid black;

            .pizza {
                width: 100%;
                height: 33%;
                overflow: hidden;
                border: 1px solid black;

                img {
                    width: 40%;
                    height: 100%;
                    float: left;
                }

                
            h2 {
                
                margin-top: 10px;
                margin-bottom: 50px;
                text-align: center;
            }

                p {
                    text-align: center;
                }
            }

            .sushi {
                width: 100%;
                height: 33%;
                overflow: hidden;
                border: 1px solid black;

                img {
                    width: 40%;
                    height: 100%;
                    float: left;
                }

                
            h2 {
                
                margin-top: 10px;
                margin-bottom: 50px;
                text-align: center;
            }

                p {
                    text-align: center;
                }
            }

            .pastel {
                width: 100%;
                height: 34%;
                overflow: hidden;
                border: 1px solid black;

                img {
                    width: 40%;
                    height: 100%;
                    float: left;
                }

                
            h2 {
                
                margin-top: 10px;
                margin-bottom: 50px;
                text-align: center;
            }

                p {
                    text-align: center;
                }
            }
        }
}

@media screen and (min-width: 600px) and (max-width: 800px) {

    header {
        .icon {
            width: 30px;
            height: 50px;
        }

        .lua-dark {
            width: 30px;
            height: 50px;
        }
    }
    
    main {

        h1 {
            margin-top: 30px;
        }

        .comidas {
            width: 100%;
            border: none;
            
            .pizza {
                width: 60%;
                height: 150px;
            }

            .sushi {
                width: 60%;
                height: 150px;
            }

            .pastel {
                width: 60%;
                height: 150px;
            }
        }

    }   
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    header {
        .icon {
            width: 30px;
            height: 50px;
        }

        .lua-dark {
            width: 30px;
            height: 50px;
        }
    }
    
    main {

        h1 {
            margin-top: 30px;
        }

        .comidas {
            width: 100%;
            border: none;
            
            .pizza {
                width: 80%;
                height: 150px;
            }

            .sushi {
                width: 80%;
                height: 150px;
            }

            .pastel {
                width: 80%;
                height: 150px;
            }
        }

    }   
}

@media screen and (min-width: 150px) and (max-width: 300px) {
    header {
        .icon {
            width: 10px;
            height: 20px;
        }

        .lua-dark {
            width: 10px;
            height: 20px;
        }

        .links {
            a {
                font-size: 11px;
            }
        }
    }
    
    main {

        h1 {
            margin-top: 30px;
            font-size: 20px;
        }

        .comidas {
            width: 100%;
            border: none;
            
            .pizza {
                width: 90%;
                height: 100px;

                h2 {
                    margin-bottom: 0;
                    font-size: 18px;
                }

                p {
                    font-size: 13px;
                    margin-top: 10px;
                }
            }

            .sushi {
                width: 90%;
                height: 100px;

                h2 {
                    margin-bottom: 0;
                    font-size: 18px;
                }

                p {
                    font-size: 13px;
                    margin-top: 10px;
                }
            }

            .pastel {
                width: 90%;
                height: 100px;

                h2 {
                    margin-bottom: 0;
                    font-size: 18px;
                }

                p {
                    font-size: 13px;
                    margin-top: 10px;
                }
            }
        }

    }   

   
}
